li {padding: 5px;}
a {
  color: #50C1FD;
  text-decoration: none; /* no underline */
}
a:active {
  color: #FF6D37;
}
a:hover {
  color: #7AD1FF;
}
body {
  background-image: url(background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;
}
button.menu {
    display: block;
    width: 100%;
    padding: 10px;
}
button.back {
    display: block;
    width: 40%;
    padding: 0px;
}
button.back:hover {
    transform: skew(13deg);
    background: #7AD1FF;
}
button.back:active {
  background: #FF6D37;
}
button {
	border: none;
	background: #50C1FD;
	color: #E0F4FF;
	padding: 7px;
	font-size: 18px;
	border-radius: 0px;
	position: relative;
	box-sizing: border-box;
	transition: all 400ms ease;
}
button:hover {
    transform: skew(-10deg);
    background: #7AD1FF;
}
button:active {
  background: #FF6D37;
}

* {box-sizing: border-box;}

    .wrapper {
        max-width: 1024px;
        margin: 0 auto;
        font: 1.4em Century Gothic, sans-serif;
    }

    .wrapper > * {
        background: rgb(255, 255, 255);
        background: rgba(255, 255, 255, .5);
        padding: 7px;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
.main-head {
  grid-area: header;
}
.content {
  grid-area: content;
}
.main-nav {
  grid-area: nav;
}
.side {
  grid-area: sidebar;
}
.main-footer {
  grid-area: footer;
}
.wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "sidebar"
    "footer";
}
@media (min-width: 500px) {
  .wrapper > * {
    padding: 16px;
    }
  .wrapper {
    font: 1.2em Helvetica, arial, sans-serif;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "header  header"
      "nav     nav"
      "content sidebar"
      "footer  footer";
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
@media (min-width: 700px) {
  .wrapper > * {
    padding: 16px;
    }
  .wrapper {
    font: 1.2em Helvetica, arial, sans-serif;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      "header content sidebar"
      "nav    content sidebar"
      "nav    content sidebar"
      "footer footer  footer"
   }
   nav ul {
     flex-direction: column;
   }
}
